.PlayerBios {
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

.preview-card{
    margin-bottom: 30px;
}

.anna-pp{
    height: 300px;
    object-fit: cover;
    object-position: top;
}

.cal-pp{
    height: 300px;
    object-fit: cover;
    object-position: top;
}

.sophie-pp{
    height: 300px;
    object-fit: cover;
    object-position: top;
}

.ella-pp{
    height: 300px;
    object-fit: cover;
    object-position: 0px -10px;
}

.daniel-pp{
    height: 300px;
    object-fit: cover;
    object-position: 0px -80px;
}

.yves-pp{
    height: 300px;
    object-fit: cover;
    object-position: 0px -90px;
}

.entry {
    font-size: small;
}

.blurb{
    margin-top: -15px;
}