.PlayerBios {
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

.title{
    margin-left: 15px;
    margin-bottom: 15px;
}

.bio-card{
    margin-bottom: 30px;
}

.anna-pp{
    height: 300px;
    object-fit: cover;
    object-position: 0px -40px;
}

.cal-pp{
    height: 300px;
    object-fit: cover;
    object-position: top;
}

.sophie-pp{
    height: 300px;
    object-fit: cover;
    object-position: top;
}