.character-sheet {
    /* rem = n*16 px */
    /* border: 1px solid rgba(85, 85, 85, 0.15); */
    width: 50rem;
    height: auto;
}

.character-art{
    height: 30rem;
    object-fit: contain;
}

.rarri-preview{
    height: 300px;
    object-fit: cover;
    object-position: 0px -25px;
}

.preview-img{
    height: 300px;
    object-fit: cover;
    object-position: top;
}
