.character-sheet {
    width: 50rem;
    height: auto;
}

.character-art{
    height: 30rem;
    object-fit: contain;
}

/* .rarri-preview{
    height: 300px;
    object-fit: cover;
    object-position: 0px -25px;
} */
