.Animated {
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
}
/* 
.outer-box{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1vw;
    margin-bottom: 1rem;
} */

.race-name{
    padding-left: 10px;
    font-style: italic;
    text-decoration: underline;
}

/* .race-box {
    padding-top: 1rem;
    -bottom: 5rem;
    -left: 2rem;
    padding-right: 2rem;
    background-color: white;
    border-radius: 10px;
} */
