.Rarri{
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
}
.character-sheet {
    /* rem = n*16 px */
    /* border: 1px solid rgba(85, 85, 85, 0.15); */
    border-radius: 10px;
    width: 50rem;
    height: auto;
}

.character-art{
    border-radius: 10px;
    width: auto;
    height: 35rem;
}