.Kaleido {
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

.class-name{
    padding-left: 10px;
    font-style: italic;
    text-decoration: underline;
}

.sm-table {
    width: 15rem;
}

.sm-md-table{
    width: 20rem
}

.md-table{
    width: 55rem;
}

.md-lg-table{
    width: 60rem;
}

.thead{
    background-color: rgba(128, 0, 0, 0.125);
}

.right{
    text-align: right;
}