* {
  font-family: 'Kdam Thmor Pro';
}

.bg-maroon {
  background-color: maroon;
}

.logo {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  height: 35px;
  width: 35px;
}

.title {
  margin-left: 20px;
  margin-bottom: 20px;
  font-style: italic;
  text-decoration: underline;
}

.page {
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
}

.home-box {
  padding-top: 3.5rem;
  padding-bottom: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  /* background-color: white; */
}

.card-box {
  padding-top: 1rem;
  padding-bottom: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.outer-box{
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1vw;
  margin-bottom: 1rem;
}

.box {
  padding-top: 1rem;
  padding-bottom: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: white;
  border-radius: 10px;
}

.content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
}

.preview-card{
  margin-bottom: 30px;
}

.entry {
  font-size: small;
}

.blurb{
  margin-top: -15px;
}

@media screen and (max-width: 576px) {
  .content {
    font-size: small;
  }
}